body, html{
  font-size: 16px;
  color: #394EFF;
  background-color: #F9F9F6;
  line-height: 25.5px;
  font-family: "Graphik", Helvetica, Arial, sans-serif;;
  font-weight: normal;


}


// UTILITIES
// hr{
//   color: #394EFF;
//   height: 1px;
//   display: block;
// }

// -------------------------------------------------------------------------------
// HEADER BANNER
// -------------------------------------------------------------------------------
.header{
  // background-color: blue;
  max-width:100%;
  &-banner{
    height: 100%;
  }
  img{
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}
// -------------------------------------------------------------------------------
// SECTION 1 - INTRO BLACKBOX
// -------------------------------------------------------------------------------
.bboxIntro{
  max-width: 950px;
  margin: 0 auto;

  &-containerTop{
    width: 100%;
    margin: 20px 0;
    img{
      //svg 1
    }
  }

  &-containerMid{
    width: 100%;
    margin: 20px 0;
    &-title{
      font-size: 2.75em;
      line-height: 50px;
    }
    &-text{
      display: flex;

      .pl{
        // background-color: green;
        margin-right: 2%;
        width: 100%;
      }
      .pr{
        margin-left: 2%;
        // background-color: blue;
        width: 100%;
      }
    }
  }

  &-containerBot{
    display: flex;
    width: 100%;
    margin: 20px 0;
    &-img{
      width: 25%;
      img{
        // width: 100%;
      }
    }
    &-text{
      width: 75%;
    }
  }

  &-hrtop{
    border-style: none;
    background: #394EFF;
    height: 2px;
    width: 100%;
  }
  &-hrbottom{
    background: #394EFF;
    border: none;
    height: 1px;
  }
}

// -------------------------------------------------------------------------------
// <!-- SECTION 2 - COUNTER -->
// -------------------------------------------------------------------------------
.bboxcounter{

  background-color: #394EFF;

  &-cont{
    font-family: "ATC Harris", Courier, monospace;
    max-width: 950px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    &-texthead{

      margin-top: 70px;
      margin-bottom: 20px;
      color: white;
      display: flex;
      justify-content: space-between;
      font-size: 1.1em;

    }
    &-chrono{
      border-right: solid;
      border-color: white;
      border-width: 0 1px 0 0;
      width: 950px;
      color: white;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 5px;

      .element{
        width: 158px;
        line-height: 1.5em;
        font-size: 8.5em;
        border-style: solid;
        border-width: 1px 0px 1px 1px;
        border-color: white;
      }
    }
    &-bottom{
      color: white;
      margin: 20px auto;
      margin-bottom: 70px;
    }
  }
}
// -------------------------------------------------------------------------------
// <!-- SECTION 3 - VIEW WEBSITE SECTION-->
// -------------------------------------------------------------------------------

.bboxview{

  padding: 80px;
  margin: 0 auto;

  &-wrap{
    display: flex;

    &-image{
        width: 50%;


        img{
          height: 100%;


        }
    }
    &-text{
       padding-top: 50px;
       padding-left: 60px;
       padding-right: 60px;
       position: relative;
       width: 50%;
       background-color: #FFA7D0;
       color: white;

    }
    .ptop{
      font-size: 1.3em;
    }
    .tittle{
      font-size: 2.5em;
    }
    .p{
      font-size: 1.1em;
      font-weight: normal;
    }
    .button{
      padding: 18px 30px;
      width: 60%;
      background-color: #74E4D0;
      border-radius: 8px;
      box-shadow: inset 2px -6px rgba(0,0,0,0.2);
      border: none;
      color: white;
      font-size: 1.3em;
      font-weight: bold;
    }

  }

}

// -------------------------------------------------------------------------------
// <!-- SECTION 4 - CONTACT SECTION-->
// -------------------------------------------------------------------------------


.contact{
  background-color: #394EFF;
  margin: 0 auto;
  // height: 500px;



  &-wrap{
    padding-top: 70px;
    padding-bottom: 70px;
    // background: yellow;
    max-width: 950px;
    margin: 0 auto;

    &-formsectiontop{

      display: flex;
      justify-content: space-between;
      margin-bottom: 17px;
      textarea{
        resize: none;
        max-height:18px;
        padding: 15px 9px 15px;
        border: solid;
        border-width: 2px;
        border-color: white;
        font-weight: bold;
        color: rgba(249,249,246, 0.5);
        border-radius: 4px;
        background-color: #394EFF;
        width: 46%;
      }

    }
    &-formsectionbottom{
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px;
      textarea{
        resize: none;
        max-height:18px;
        padding: 15px 9px 15px;
        border: solid;
        border-width: 2px;
        border-color: white;
        font-weight: bold;
        color: rgba(249,249,246, 0.5);
        border-radius: 4px;
        background-color: #394EFF;
        width: 46%;
      }


    }
    &-button{
      background-color: white;
      border-radius: 8px;
      padding: 18px 30px;
      min-width: 30%;
      box-shadow: inset 1px -5px rgba(0,0,0,0.2);
      color: #394EFF;
      font-weight: 600;
      font-size: 1.2em;
    }


  }

  hr{
    border-style: none;
    background: white;
    height: 2px;
    width: 100%;

  }


  h1{
    padding-top: 20px;
    color: white;
    font-size: 2.75em;
    // background: purple;
  }
  p{
    // font-family: "Graphik", Helvetica, Arial, sans-serif;
    margin-top: 60px;
    margin-bottom: 45px;
    color: white;
    font-size: 1em;
    // background-color: black;
  }



}
