body, html {
  font-size: 16px;
  color: #394EFF;
  background-color: #F9F9F6;
  line-height: 25.5px;
  font-family: "Graphik", Helvetica, Arial, sans-serif;
  font-weight: normal; }

.header {
  max-width: 100%; }
  .header-banner {
    height: 100%; }
  .header img {
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }

.bboxIntro {
  max-width: 950px;
  margin: 0 auto;
  margin-bottom: 50px; }
  .bboxIntro-containerTop {
    width: 100%;
    margin: 20px 0;
    font-size: 9em; }
    .bboxIntro-containerTop a {
      color: #394EFF;
      text-decoration: none; }
  .bboxIntro-containerMid {
    width: 100%;
    margin: 20px 0; }
    .bboxIntro-containerMid-title {
      font-size: 2.75em;
      line-height: 50px; }
    .bboxIntro-containerMid-text {
      display: flex; }
      .bboxIntro-containerMid-text .pl {
        margin-right: 2%;
        width: 100%; }
      .bboxIntro-containerMid-text .pr {
        margin-left: 2%;
        width: 100%; }
  .bboxIntro-containerBot {
    display: flex;
    width: 100%;
    margin: 20px 0; }
    .bboxIntro-containerBot-img {
      width: 20%;
      font-size: 10.3em;
      color: #394EFF; }
      .bboxIntro-containerBot-img a {
        color: #394EFF;
        text-decoration: none; }
    .bboxIntro-containerBot-text {
      width: 80%; }
      .bboxIntro-containerBot-text h3 {
        font-size: 1.3em; }
      .bboxIntro-containerBot-text button {
        position: absolute;
        background-color: #394EFF;
        padding: 18px 30px;
        border-radius: 8px;
        border: none;
        color: white;
        font-size: 1.3em;
        line-height: normal;
        font-weight: bold;
        box-shadow: inset 2px -6px rgba(0, 0, 0, 0.2);
        color: rgba(255, 255, 255, 0.5); }
        .bboxIntro-containerBot-text button span {
          color: rgba(255, 255, 255, 0.5);
          position: relative;
          left: -15px;
          top: 1px; }
        .bboxIntro-containerBot-text button:hover {
          background-color: rgba(0, 0, 255, 0.7);
          color: white; }
          .bboxIntro-containerBot-text button:hover span {
            color: white; }
  .bboxIntro-hrtop {
    border-style: none;
    background: #394EFF;
    height: 2px;
    width: 100%; }
  .bboxIntro-hrbottom {
    background: #394EFF;
    border: none;
    height: 1px; }

.bboxcounter {
  background-color: #394EFF; }
  .bboxcounter-cont {
    font-family: "ATC Harris", Courier, monospace;
    max-width: 950px;
    margin: 0 auto;
    display: flex;
    flex-direction: column; }
    .bboxcounter-cont-texthead {
      margin-top: 70px;
      margin-bottom: 20px;
      color: white;
      display: flex;
      justify-content: space-between;
      font-size: 1.1em; }
    .bboxcounter-cont-chrono {
      border-right: solid;
      border-color: white;
      border-width: 0 1px 0 0;
      width: 950px;
      color: white;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 5px; }
      .bboxcounter-cont-chrono div {
        padding: 0; }
      .bboxcounter-cont-chrono .element {
        width: 158px;
        line-height: 1.5em;
        font-size: 8.5em;
        border-style: solid;
        border-width: 1px 0px 1px 1px;
        border-color: white; }
    .bboxcounter-cont-bottom {
      color: white;
      margin: 20px auto;
      margin-bottom: 70px;
      border-width: 1px;
      border-left: solid;
      border-right: solid; }

.bboxview {
  padding: 80px;
  margin: 0 auto; }
  .bboxview-wrap {
    display: flex;
    justify-content: center; }
    .bboxview-wrap-image {
      width: 50%;
      background-color: gray;
      margin-bottom: 0px; }
      .bboxview-wrap-image img {
        position: relative;
        height: 100%;
        width: 100%; }
    .bboxview-wrap-text {
      width: 42%;
      padding-top: 50px;
      padding-left: 4%;
      padding-right: 4%;
      padding-bottom: 50px;
      position: relative;
      background-color: #FFA7D0;
      color: white; }
    .bboxview-wrap .ptop {
      font-size: 1.3em; }
    .bboxview-wrap .tittle {
      font-size: 2.5em; }
    .bboxview-wrap .p {
      font-size: 1.1em;
      font-weight: normal; }
    .bboxview-wrap .button {
      padding: 18px 30px;
      width: 60%;
      background-color: #74E4D0;
      border-radius: 8px;
      box-shadow: inset 2px -6px rgba(0, 0, 0, 0.2);
      border: none;
      color: white;
      font-size: 1.3em;
      font-weight: bold; }

.contact {
  background-color: #394EFF;
  margin: 0 auto; }
  .contact-wrap {
    padding-top: 70px;
    padding-bottom: 70px;
    max-width: 950px;
    margin: 0 auto; }
    .contact-wrap-formsectiontop {
      display: flex;
      justify-content: space-between;
      margin-bottom: 17px; }
      .contact-wrap-formsectiontop textarea {
        resize: none;
        max-height: 18px;
        padding: 15px 9px 15px;
        border: solid;
        border-width: 2px;
        border-color: white;
        font-weight: bold;
        color: rgba(249, 249, 246, 0.5);
        border-radius: 4px;
        background-color: #394EFF;
        width: 46%; }
    .contact-wrap-formsectionbottom {
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px; }
      .contact-wrap-formsectionbottom textarea {
        resize: none;
        max-height: 18px;
        padding: 15px 9px 15px;
        border: solid;
        border-width: 2px;
        border-color: white;
        font-weight: bold;
        color: rgba(249, 249, 246, 0.5);
        border-radius: 4px;
        background-color: #394EFF;
        width: 46%; }
    .contact-wrap-button {
      background-color: white;
      border-radius: 8px;
      padding: 18px 30px;
      min-width: 30%;
      box-shadow: inset 1px -5px rgba(0, 0, 0, 0.2);
      color: #394EFF;
      font-weight: 600;
      font-size: 1.2em; }
  .contact hr {
    border-style: none;
    background: white;
    height: 2px;
    width: 100%; }
  .contact h1 {
    padding-top: 20px;
    color: white;
    font-size: 2.75em; }
  .contact p {
    margin-top: 60px;
    margin-bottom: 45px;
    color: white;
    font-size: 1em; }

.bboxquest {
  margin-top: 70px; }
  .bboxquest-content {
    max-width: 950px;
    margin: 0 auto; }
    .bboxquest-content-hrtop {
      color: #394EFF;
      border-style: solid;
      border-width: 1px; }
    .bboxquest-content-title {
      font-size: 2.8em;
      padding-bottom: 60px; }
    .bboxquest-content-list {
      list-style: none;
      padding: 0;
      margin: 0; }
      .bboxquest-content-list hr {
        border-style: none;
        background: #394EFF;
        height: 1px;
        width: 100%; }
      .bboxquest-content-list li {
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        font-size: 1.15rem; }

.footer {
  background-color: #394EFF;
  color: white;
  position: absolute;
  width: 100%;
  height: 300px;
  margin-top: 60px; }
  .footer-contentCols {
    max-width: 1300px;
    display: flex;
    justify-content: space-around; }
    .footer-contentCols-subcols {
      display: flex;
      justify-content: space-between; }
      .footer-contentCols-subcols .colmore {
        margin-right: 40px; }
    .footer-contentCols-colend {
      margin-left: 5px; }
      .footer-contentCols-colend .formfooter {
        display: flex;
        justify-content: space-around;
        border: solid;
        border-radius: 4px;
        border-width: 2px;
        margin-top: 20px; }
        .footer-contentCols-colend .formfooter-index {
          width: 55%; }
          .footer-contentCols-colend .formfooter-index textarea {
            resize: none;
            border: none;
            font-weight: bold;
            color: rgba(249, 249, 246, 0.5);
            background-color: rgba(249, 249, 246, 0);
            height: 50%;
            width: 96%;
            text-overflow: ellipsis;
            padding-top: 6%;
            padding-bottom: 4%;
            padding-left: 4%; }
        .footer-contentCols-colend .formfooter-submit {
          width: 45%; }
          .footer-contentCols-colend .formfooter-submit .submitbutton {
            background-color: rgba(249, 249, 246, 0);
            border-style: none;
            border-left: solid;
            border-width: 2px;
            border-color: white;
            height: 100%;
            width: 100%;
            color: white;
            font-weight: bold;
            font-size: 1em; }
            .footer-contentCols-colend .formfooter-submit .submitbutton:hover {
              background-color: rgba(249, 249, 246, 0.1); }
    .footer-contentCols-colicon {
      width: 30%;
      position: relative;
      top: 50px;
      left: 90px; }
      .footer-contentCols-colicon span {
        font-size: 6em; }
      .footer-contentCols-colicon h3 {
        margin-top: 20px;
        font-size: 2.5em; }
    .footer-contentCols hr {
      margin-top: 65px;
      border-style: none;
      background: white;
      height: 2px;
      width: 100%; }
    .footer-contentCols h5 {
      margin-top: 10px;
      font-size: 1em; }
    .footer-contentCols ul {
      list-style: none;
      padding: 0;
      margin: 0;
      line-height: 40px; }
      .footer-contentCols ul a {
        color: white;
        text-decoration: none;
        font-size: 1.05em; }
