body, html {
  font-size: 16px;
  color: #394EFF;
  background-color: #F9F9F6;
  line-height: 25.5px;
  font-family: "Graphik", Helvetica, Arial, sans-serif;
  font-weight: normal; }

.header {
  max-width: 100%; }
  .header-banner {
    height: 100%; }
  .header img {
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }

.bboxIntro {
  max-width: 950px;
  margin: 0 auto; }
  .bboxIntro-containerTop {
    width: 100%;
    margin: 20px 0; }
  .bboxIntro-containerMid {
    width: 100%;
    margin: 20px 0; }
    .bboxIntro-containerMid-title {
      font-size: 2.75em;
      line-height: 50px; }
    .bboxIntro-containerMid-text {
      display: flex; }
      .bboxIntro-containerMid-text .pl {
        margin-right: 2%;
        width: 100%; }
      .bboxIntro-containerMid-text .pr {
        margin-left: 2%;
        width: 100%; }
  .bboxIntro-containerBot {
    display: flex;
    width: 100%;
    margin: 20px 0; }
    .bboxIntro-containerBot-img {
      width: 25%; }
    .bboxIntro-containerBot-text {
      width: 75%; }
  .bboxIntro-hrtop {
    border-style: none;
    background: #394EFF;
    height: 2px;
    width: 100%; }
  .bboxIntro-hrbottom {
    background: #394EFF;
    border: none;
    height: 1px; }

.bboxcounter {
  background-color: #394EFF; }
  .bboxcounter-cont {
    font-family: "ATC Harris", Courier, monospace;
    max-width: 950px;
    margin: 0 auto;
    display: flex;
    flex-direction: column; }
    .bboxcounter-cont-texthead {
      margin-top: 70px;
      margin-bottom: 20px;
      color: white;
      display: flex;
      justify-content: space-between;
      font-size: 1.1em; }
    .bboxcounter-cont-chrono {
      border-right: solid;
      border-color: white;
      border-width: 0 1px 0 0;
      width: 950px;
      color: white;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 5px; }
      .bboxcounter-cont-chrono .element {
        width: 158px;
        line-height: 1.5em;
        font-size: 8.5em;
        border-style: solid;
        border-width: 1px 0px 1px 1px;
        border-color: white; }
    .bboxcounter-cont-bottom {
      color: white;
      margin: 20px auto;
      margin-bottom: 70px; }

.bboxview {
  padding: 80px;
  margin: 0 auto; }
  .bboxview-wrap {
    display: flex; }
    .bboxview-wrap-image {
      width: 50%; }
      .bboxview-wrap-image img {
        height: 100%; }
    .bboxview-wrap-text {
      padding-top: 50px;
      padding-left: 60px;
      padding-right: 60px;
      position: relative;
      width: 50%;
      background-color: #FFA7D0;
      color: white; }
    .bboxview-wrap .ptop {
      font-size: 1.3em; }
    .bboxview-wrap .tittle {
      font-size: 2.5em; }
    .bboxview-wrap .p {
      font-size: 1.1em;
      font-weight: normal; }
    .bboxview-wrap .button {
      padding: 18px 30px;
      width: 60%;
      background-color: #74E4D0;
      border-radius: 8px;
      box-shadow: inset 2px -6px rgba(0, 0, 0, 0.2);
      border: none;
      color: white;
      font-size: 1.3em;
      font-weight: bold; }
